/APIApointment/bin/
/Appointment/obj/
/HangfireServer/obj/
/HangfireServer/bin/Debug/
/HangfireWorkerLibrary/obj/
/RabbitMQEventBus/obj/
/RabbitMQEventBus/bin/
/MSSQL/sqldata/HangfireDatabase.mdf
/MSSQL/sqldata/HangfireDatabase_log.ldf